.sidebar{
  flex:1;
  min-height:calc(100vh - 61px);
  background-color: rgba(219, 242, 255, .2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .sidebar-wrapper{
    padding:20px 0;
  }

  ul > .sidebar-listItem{
    text-decoration:none;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin: 15px 0;
    cursor:pointer;
    border-radius:15px;
    width:150px;
    height:41px;
    padding:0 8px;
    transition: 500ms all ease-in-out;

    .sidebarIcon{
      font-size:1.25em;
    }

    p{
      margin-left:10px;
    }
  }
}

ul>.sidebar-listItem:hover{
  background-color: #DBF2FF;
  border:solid 1px #DBC2FF;
  border-radius:15px;
  transition:350ms all ease-in-out;
}

.active{
  background-color: #DBF2FA;
  border:solid 1px #DBC2FF;
  border-radius:15px;
}
