.sidebar{
  flex:1;
  min-height:calc(100vh - 61px);
  background-color: rgba(219, 242, 255, .2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding:0;
  margin:0;

  .sidebar-wrapper{
    padding:10px 0;
  }

  ul{
    padding:0;
    padding-left:10px;
    margin:0;
  }

  ul > .sidebar-listItem{
    text-decoration:none;
    color: #000;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin: 15px 0;
    cursor:pointer;
    border-radius:10px;
    width:150px;
    height:41px;
    padding:0 8px;
    transition: 500ms all ease-in-out;

    .sidebarIcon{
      font-size:1.25em;
    }

    p{
      margin-left:10px;
    }
  }
}

ul>.sidebar-listItem:hover{
  // background-color: #DBF2FF;
  background-color: #872EF8;
  // border:solid 1px #DBC2FF;
  border:none;
  border-radius:10px;
  transition:350ms all ease-in-out;
}

ul>.sidebar-listItem:hover > p,
ul>.sidebar-listItem:hover > .sidebarIcon {
  color:#fff;
}

.active {
  // background-color: #DBF2FA;
  background-color:#872EF8;
  border:solid 1px #DBC2FF;
  border-radius:10px;
}

.active p{
  color:#fff;
}

.active .sidebarIcon{
  color:#fff;
}
