.main-container{
  overflow:hidden;
}

.container{
  display:flex;
  /* align-items:center;
  justify-content:space-between; */
  padding: 0 20px 0 0;
  overflow:hidden;
}

.others{
  flex:5;
  height:580px;
  padding: 0 20px;
  overflow:scroll;

  .header{
    display: flex;
    align-items: center;
    justify-content:space-between;

    Button{
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      cursor:pointer;
      border:none;
      color:#fff;
      border-radius:6px;
      height:42px;
      width:110px;
      background-color:#4F74F9;
      font-size:1em;
    }
  }
  .modalBox-container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width:82.15%;
    height:100%;
    position:absolute;
    top:0px;
    z-index: 1000;
    padding: 2.5rem;
    justify-content:center;
    align-items: center;

    form{
      // position: absolute;
      // top:0;
      // right:0;
      height:100%;
      // width:35.315rem;
      width:100%;
      background: #FFFFFF;
      // box-shadow: -5px 0px 25px rgba(36, 255, 0, 0.53);
      // border-radius: 25px 0px 0px 25px;
      border-radius:4px;
      padding: 0 1rem 0rem 1rem;
      ul{
        padding:0;
        li{
          display: flex;
          justify-content: space-between;
          .datepicker{
            min-height:30px;
            height:35px;
            min-width:130px;
            max-width:330px;
            width:307px;
            margin:30px 0 0 20px;
            position: relative;
          }
          .datepicker:before{
            content:"text is here";
            position: absolute !important;
            width: 60px;
            height:30px;
            top:0;
            left:0;
            background-color:red;
          }
        }
        .submit{
          padding:13px 15px;
          border-radius: 10px;
          font-size: 1.25rem;
          box-shadow: none;
          background-color: #C9C104;
          border:1px solid #a2b100;
          color:#fff;
          cursor:pointer;
        }
      }
    }
    .exitModal{
      position:absolute;
      right:1.5rem;
      top:1.5rem;
      border:none;
      border-radius:50%;
      width:50px;
      height:50px;
      font-size:1.5rem;
      color:#fff;
      background-color:#f00;
      z-index:1;
      cursor: pointer;
      box-shadow: 0px 0px 25px rgba(36, 255, 0, 1);
    }
  }
}

input{
  width:80%;
  height:42px;
  padding-left:1.0625rem;
  border-radius:4px;
  border: 1px solid #00D1FF;
  &::placeholder{
  color:#948B8B;
  letter-spacing:0.0625rem;
  }
}

.totalPrice{
  font-size:1.25rem;
}


table{
  width:100%;
  margin:0;
  padding:0;
  margin-top:26px;
  tr{
    padding:12px 10px;
  }
  thead{
    tr{
      th{
        color:#948B8B;
      }
    }
  }
  tbody{
    tr{
      background: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(177, 163, 163, 0.25);
    }
    tr:nth-child(even) {
      background-color: rgba(170, 170, 255, 0.25);
    }
  }
  td,th{
    padding: 0.5rem;
  }
}
