.container{
  display:flex;
  /* align-items:center;
  justify-content:space-between; */
  padding: 0 20px 0 0;
}

.others{
  flex:5;
  height:550px;
  background-color: cyan;
  padding: 0 20px;
  margin-top:26px;
}
